@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;700;900&display=swap');

:root{
    --rosaneon: #fe019a;
    --blanco: #fff;
    --negromate: #1c1c1c;
    --colortexto:#F3E4F8;
    --colorhoover: #00ffff;

   }

html {
    box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Popins', sans-serif;
      background-color: var(--negromate);
        
      }
    
      body{
        width: 100vw;
        max-width: 100%;
        max-height: 100%; 
        scroll-behavior: smooth;
      }
          
      
 
 
/* menu hamburguesa */
@media screen and (max-width:992px){
 
    .items-container li{
        list-style: none;      
        text-transform: uppercase;
        padding: 0.5rem;
    
    }
    
    .items-container a{
    text-decoration: none;        
    color: var(--rosaneon);
    margin: 1px;
    }
    
    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .logo img{
       margin: 0 auto;
     width: 300px;
     height: 350PX;
    }



a:hover{
color: var(--colorhoover);
  transition: .4s;
}

.menu-btn{
height: 2rem;
width: 2.5rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
cursor: pointer;
border-radius: 0.375rem;
transition: 0.3s ease;
}

.menu-btn:hover > div{
    background-color: var(--rosaneon)
}

.menu-btn div{
width: 1.875rem;
height: 0.25rem;
background-color: #fff;
border-radius: 0.375rem;
transition: transform 0.5s;
}

.menu-toggle{
display: none;
}

.items-container {
display: none;
width: 9.375rem;
padding:0.625rem;
margin: 0.063rem;
height: 10vh;
width: 75px;
transition: 0.3s ease;

}

.items-container div{
margin: 0.875rem; 
width: 350px;
margin-top: 3rem;
  transition: transform 0.6s ease;

}

.menu-toggle:checked + .items-container{
display: block;
height: 100vh;
width: 250px;
z-index: 1;
}

/* fin menu hamburguesa */

/* seccion 1 */
.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.title-container h2{
    margin-top: 10rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 35px/normal "Popins", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
   
}
.title-container h2:hover{
   
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}
.cards-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cards-1 img{
    
 width: 200px;

}


.cards-1 p{
    color: var(--colortexto);
    width: 193px;
    text-align: center;
    
    font-size: 17px;
}
 .text3{
    margin-top: 0.2rem;
    text-align: center;
   
 }

/* Fin sección 1 */
/* Sección 2 */
.seccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.seccion2 h2{
    margin-top: 10rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 35px/normal "Popins", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
}
.seccion2 h2:hover{
  
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
      }

.cards-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cards-2 img{    
 width: 200px;
}


.cards-2 p{
    color: var(--colortexto);
    width: 195px;
    text-align: center;
    
    font-size: 17px;
}
/* proyectos */
.proyectos{
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
 .proyectos h2{
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 35px/normal "Popins", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
   .proyectos h2:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  }
  .img-proyectos{
    display: flex;    
    flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 3rem;
  }
 
  .project {
    display: flex;
    flex-direction: column;

}
.project a {
  text-decoration: none;
  text-align: center;  
  border-radius: 5rem;
  padding: 1rem;
 font-size: 1rem;
  background-image: linear-gradient(60deg, rgba(28,28,28,1) 0%, rgba(254,1,154,1) 33%, rgba(0,255,255,1) 100%);
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
 margin-top: 2rem;
 width: 9rem;
 margin-left: 4rem;
 margin-bottom: 2rem;

}

.project a:hover { 
  transform: scale(1.1);
  transition:.8s;
}
.project img:hover { 
    transform: scale(1.1);
    transition:.8s;
  }
/* contacto */
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contacto h2{
    margin-top: 10rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 35px/normal "Popins", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  .contacto h2:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  }
  .contacto h4{
      color: var(--colortexto);
      text-align: center;
      line-height: 1.5rem;
      margin-top: 2rem;
  }
.contacto a{
    text-decoration: none;
    color: var(--colorhoover);
    line-height: 3rem;
    font-size: 20px;
   
}

.contacto a:hover{
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de;
}
.contacto p{
    color: var(--colortexto);
}
.contacto a:visited {
    color:var(--colorhoover)
}
.mail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.mail i {
    margin-right: 1rem;
   color: var(--colortexto);
   font-size: 1.3rem;
   margin-top: 1.1rem;
}
.wsp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.wsp i {
    margin-right: 1rem;
   color: var(--colortexto);
   font-size: 1.3rem;
   margin-top: 1.1rem;
}

.gps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.gps i {
    margin-right: 1rem;
   color: var(--colortexto);
   font-size: 1.3rem;
   margin-top: 1.3rem;
}

.gps p{
    color:var(--colorhoover);
    font-size: 20px;
}
/* footer */
footer{
    height: 90px;
    width: 100%;
   margin-top: 50px;
}
.sociales{
    background: rgb(28,28,28);
    background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(254,1,154,1) 33%, rgba(0,255,255,1) 100%);
display: flex;
justify-content: space-around;
flex-wrap: wrap;
height: 80px;

}
.sociales a{
    font-size: 25px;
    color: var(--colortexto);
    margin-top: 2.5rem;
}



}
/* Desktop */


@media  screen and (min-width:993px) {
    html{
        background-color:#1c1c1c;
        font-family: 'Popins' sans-serif;     
    }    

   
.items-container {
    display: flex;
        width: 9.375rem;
    padding:0.625rem;
    margin: 0.063rem;
    background: rgb(28,28,28);
    background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(254,1,154,1) 33%, rgba(0,255,255,1) 100%);
    }


    .items-container a{
        text-decoration: none;        
        color: var(--colortexto);
        font-weight: bolder;
        margin: 1px;
        cursor: pointer;
       
        }
        
    
        .items-container li{
      
            list-style: none;      
            text-transform: uppercase;
            padding: 0.5rem;
        }
    
    a:hover{
    color: var(--colorhoover);
      transition: .4s;
    }
    .item:hover{
        color:var(--rosaneon);
          transition: .4s;
        }
    .items-container {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 1.5rem;

    }
.menu-btn{
    display: none;

}
.menu-toggle{
    display: none;
    }
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
   margin-top: 5rem;
 height: 500px;
 width: 500px;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container h2{
    display: inline-block;    
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 45px/normal "Popins", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  .title-container h2:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  }

  .cards-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 3rem;
   
}

.cards-1 img{
    width: 300px;
    height: 300px;
}

.cards-1 p{
    color: var(--colortexto);
 width: 260px;
   text-align: center;
   font-size: 23px;

}

.cards-1 p:nth-child(2){
    margin-left: 2rem;
    }

.img1{
    margin-top: 5rem;
 }
 .img3{
     margin-top: 3rem;
  }
 
  .img2{
    margin-left: 1.2rem;
}
  .text3{
      margin-right: 4rem;
 
  }
.seccion2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion2 h2{
    margin-top: 10rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 45px/normal "Popins", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  .seccion2 h2:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff;
  }
  .cards-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
   
}

.cards-2 img{
    width: 300px;
    height: 300px;
    margin-top: 0;
}

.cards-2 p{
    color: var(--colortexto);
 width: 260px;
   text-align: center;
   margin-left: 1.3rem;
   font-size: 23px;
}
 .step4{
     margin-top: 7rem;
 }
 .texto3{
     margin-top: 0rem;
 }
 /* pryectos */
 .proyectos{
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
 .proyectos h2{
    margin-top: 10rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 45px/normal "Popins", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
   .proyectos h2:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  }
  .img-proyectos{
    display: flex;    
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2.2rem;
  }
  .img-proyectos img{    
    margin-top: 5rem;
    cursor: pointer;
  }
  
  .project {
      display: flex;
      flex-direction: column;

  }
.project a {
    text-decoration: none;
    text-align: center;
    height: 1rem;
    width: 9rem;
    border-radius: 5rem;
    padding: 1.5rem;
   font-size: 1rem;
    background-image: linear-gradient(60deg, rgba(28,28,28,1) 0%, rgba(254,1,154,1) 33%, rgba(0,255,255,1) 100%);
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
   margin-top: 2rem;
   margin-left: 3rem;
  
}

.project a:hover { 
    transform: scale(1.1);
    transition:.8s;
}
.project img:hover { 
    transform: scale(1.1);
    transition:.8s;
  }
/* contacto */
.contacto{
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contacto h2{
    margin-top: 10rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 45px/normal "Popins", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  .contacto h2:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  }
  .contacto h4{
      color: var(--colortexto);
      text-align: center;
      line-height: 2rem;
      margin-top: 2rem;
      width: 500px;
      font-size: 1.3rem;
  }
.contacto a{
    text-decoration: none;
    color: var(--colorhoover);
    line-height: 3rem;
    font-size: 20px;
   
}

.contacto a:hover{
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de;
}
.contacto p{
    color: var(--colortexto);
}
.contacto a:visited {
    color:var(--colorhoover)
}
.mail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
  
}
.mail i {
    margin-right: 1rem;
   color: var(--colortexto);
   font-size: 1.3rem;
   margin-top: 1.1rem;
}
.wsp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.wsp i {
    margin-right: 1rem;
   color: var(--colortexto);
   font-size: 1.3rem;
   margin-top: 1.1rem;
}

.gps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
  
}
.gps i {
    margin-right: 1rem;
   color: var(--colortexto);
   font-size: 1.3rem;
   margin-top: 1.4rem;
}

.gps p{
    color:var(--colorhoover);
    font-size: 20px;
}
/* footer */
footer{
    height: 100px;
    width: 100%;
   margin-top: 50px;
   

}
.sociales{
   
    background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(254,1,154,1) 33%, rgba(0,255,255,1) 100%);
display: flex;
justify-content: space-around;
flex-wrap: wrap;
height: 80px;

}
.sociales a{
    font-size: 25px;
    color: var(--colortexto);
    margin-top: 2.5rem;
}

}