@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
    box-sizing: border-box;
      margin: 0;
      padding: 0;
      }
    
    :root{
     --rosaneon: #fe019a;
     --blanco: #fff;
     --negromate: #1c1c1c;
     --colortexto:#F3E4F8;
     --colorhoover: #00ffff;

    }

html{
    background-color:#1c1c1c;
    font-family: 'Lato' sans-serif;
}    



.items-container li{
    list-style: none;      
    text-transform: uppercase;
    padding: 0.5rem;
}

.items-container a{
text-decoration: none;        
color: #fe019a;
margin: 1px;
}




a:hover{
color: var(--colorhoover);
  transition: .4s;
}

.menu-btn{
background-color: #fe019a;
height: 2.5rem;
width: 2.5rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
cursor: pointer;
border-radius: 0.375rem;
}

.menu-btn span{
width: 1.875rem;
height: 0.25rem;
background-color: #fff;
border-radius: 0.375rem;
}

.menu-toggle{
display: none;

}

.items-container {
display: none;
width: 9.375rem;
padding:0.625rem;
margin: 0.063rem;
}

.items-container div{
margin: 0.875rem; 
}

.menu-toggle:checked + .items-container{
display: block;
}


.imagen-perfil{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    min-width: 31.25rem;
   
}
.imagen-perfil img{
    width: 21.875rem;
    height: 22rem;
   
}

/* Seccion 1 */

.seccion1 p {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: 3rem;
margin-bottom: 0.938rem;
margin-top: 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 48px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}


.seccion1 p:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  }

 .card .info-card{
    width: 70%;
    margin-bottom: 0.5rem;
    margin-top: 5rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
   
  
}

.card p{
    max-width: 31.25rem;
    text-align: center;
    font-size: 1.5rem;
  color: var(--colortexto);
  line-height: 2rem;
  
}

.info-card3{
    width: 70%;
    margin-top: 5rem;
}



.info3{
    max-width: 31.25rem;
    text-align: center;
    font-size: 1.5rem;
  color: var(--colortexto);
  line-height: 2rem;
  margin-top: 5rem;
  
}


/* Fin sección 1 */
/* Sección 2 */
.seccion2 p {
   margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
    font-size: 3rem;    
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      border: none;
      font: normal 48px/normal "Warnes", Helvetica, sans-serif;
      color: rgba(255,255,255,1);
      text-decoration: normal;
      -o-text-overflow: clip;
      text-overflow: clip;
      white-space: pre;
      text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
      -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
}


.seccion2 p:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  }

.work  p{
    color: var(--colortexto);
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0.5rem;
}

.work .info4{
    color: var(--colortexto);
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0.5rem;
    
}
.work .step3{
height: 500px;
width: 500px;

}

.work .step4{
    height: 500px;
    width: 500px;
    
    }

/* Desktop */
@media  screen and (min-width:1024px) {
html{
    background-color:#1c1c1c;
    font-family: 'Lato' sans-serif;
}    

.items-container {
    display: flex;
        width: 9.375rem;
    padding:0.625rem;
    margin: 0.063rem;
    }


    .items-container a{
        text-decoration: none;        
        color: #fe019a;
        margin: 1px;
        cursor: pointer;
        }
        
    
        .items-container li{
      
            list-style: none;      
            text-transform: uppercase;
            padding: 0.5rem;
        }
    
    a:hover{
    color: var(--colorhoover);
      transition: .4s;
    }
    
    .items-container {
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-end;

    }
.menu-btn{
    display: none;

}

.imagen-perfil{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    max-width: 1200px;

  

}
.imagen-perfil img{
    width: 50rem;
    height: 50rem;
    border-radius: 0.625rem;
    
    
}
/* Seccion 1 */
.seccion1 p{
  text-transform: uppercase;
      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.938rem;
    margin-top: 2rem;
    font-size: 15rem;   
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      border: none;
      font: normal 48px/normal "Warnes", Helvetica, sans-serif;
      color: rgba(255,255,255,1);
      text-decoration: normal;
      -o-text-overflow: clip;
      text-overflow: clip;
      white-space: pre;
      text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
      -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    }
    .seccion1 p:hover {
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
      }
    
.card__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
    .info-card{     
        width: 300px;
        height: 300px;
        margin-top: 2rem;
}

.card p{
    margin-top: 2rem;
}
.card:first-child{
    margin-top: 4rem;
}

/* Seccion 2 */
.seccion2 {
    text-transform: uppercase;
     display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 0.938rem;
      margin-top: 2rem;
      font-size: 15rem;   
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        border: none;
        font: normal 48px/normal "Warnes", Helvetica, sans-serif;
        color: rgba(255,255,255,1);
        text-decoration: normal;
        -o-text-overflow: clip;
        text-overflow: clip;
        white-space: pre;
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      }
      .seccion2 p:hover {
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
      }

      .card-work{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
        .step{     
            width: 300px;
            height: 300px;
            margin-top: 0.1rem;
    }

.work p{
    color: var(--colortexto);
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0.5rem;
    width: 250px;
}


.work .step3{
height: 300px;
width: 300px;
margin-top: 2rem;
}

.work .step4{
    height: 300px;
    width: 300px;
    margin-top: 2rem;
    
    }
    .work p {
        color: var(--colortexto);
        text-align:center;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 0.5rem;
        width: 310px;
    }
    .work .info4 {
        color: var(--colortexto);
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 0.5rem;
        width: 310px;
    }
    
    .work:nth-child(2){
    margin-bottom: 2rem;
    }

}