@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root{
    --rosaneon: #fe019a;
    --blanco: #fff;
    --negromate: #1c1c1c;
    --colortexto:#F3E4F8;
    --colorhoover: #00ffff;

   }

html {
    box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Lato', sans-serif;
      background-color: var(--negromate);
        
      }
    
      body{
        width: 100vw;
        max-width: 100%;
        max-height: 100%; 
        scroll-behavior: smooth;
      }

 
 
/* menu hamburguesa */
@media screen and (max-width:992px){
    .items-container li{
        list-style: none;      
        text-transform: uppercase;
        padding: 0.5rem;
    }
    
    .items-container a{
    text-decoration: none;        
    color: var(--rosaneon);
    margin: 1px;
    }
    
    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .logo img{
       margin: 0 auto;
     width: 200px;
    }



a:hover{
color: var(--colorhoover);
  transition: .4s;
}

.menu-btn{
background-color: #fe019a;
height: 2.5rem;
width: 2.5rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
cursor: pointer;
border-radius: 0.375rem;
}

.menu-btn span{
width: 1.875rem;
height: 0.25rem;
background-color: #fff;
border-radius: 0.375rem;
}

.menu-toggle{
display: none;
}

.items-container {
display: none;
width: 9.375rem;
padding:0.625rem;
margin: 0.063rem;
}

.items-container div{
margin: 0.875rem; 
}

.menu-toggle:checked + .items-container{
display: block;
}

/* fin menu hamburguesa */

/* seccion 1 */
.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-container h2{
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    color: rgba(255,255,255,1);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    margin-left: 2rem;
}
.title-container h2:hover{
   
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}
.cards-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cards-1 img{
    margin-left: 2rem;
 width: 200px;
}


.cards-1 p{
    color: var(--colortexto);
    width: 193px;
    text-align: center;
    margin-left: 2rem;
}

/* Fin sección 1 */
/* Sección 2 */
.seccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.seccion2 h2{
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    color: rgba(255,255,255,1);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    margin-left: 2rem;
}
.seccion2 h2:hover{
  
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
      }

.cards-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cards-2 img{
    margin-left: 2rem;
 width: 200px;
}


.cards-2 p{
    color: var(--colortexto);
    width: 193px;
    text-align: center;
    margin-left: 2rem;
}
}
/* Desktop */


@media  screen and (min-width:993px) {
    html{
        background-color:#1c1c1c;
        font-family: 'Lato' sans-serif;     
    }    

.items-container {
    display: flex;
        width: 9.375rem;
    padding:0.625rem;
    margin: 0.063rem;
    }


    .items-container a{
        text-decoration: none;        
        color: #fe019a;
        margin: 1px;
        cursor: pointer;
        }
        
    
        .items-container li{
      
            list-style: none;      
            text-transform: uppercase;
            padding: 0.5rem;
        }
    
    a:hover{
    color: var(--colorhoover);
      transition: .4s;
    }
    
    .items-container {
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-end;

    }
.menu-btn{
    display: none;

}
.menu-toggle{
    display: none;
    }
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
   margin-top: 5rem;
   height: 300px;
   width: 300px;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container h2{
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 48px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  .title-container h2:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  }

  .cards-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
   
}

.cards-1 img{
    width: 300px;
    height: 300px;
}

.cards-1 p{
    color: var(--colortexto);
 width: 250px;
   text-align: center;

}

.seccion2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion2 h2{
    margin-top: 10rem;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 48px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  .seccion2 h2:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  }
  .cards-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
   
}

.cards-2 img{
    width: 300px;
    height: 300px;
}

.cards-2 p{
    color: var(--colortexto);
 width: 250px;
   text-align: center;

}
}